<div class="main users-new">
  <div class="container">
    <h1 class="form-heading">飼い主になるニャ！</h1>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message+"ニャ！" %>
          </div>
        <% end %>

        <%= form_tag("/users/create", {multipart: true}) do %>
          <p>飼い主ID</p>
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input name="password" type="password" value="<%= @user.password %>">
          <button type="submit">飼い主になる <i class="fas fa-paw"></i></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
