<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-user-name">
          <% if post.user.image_name? %>
            <%= link_to image_tag(post.user.image_name.url),"/users/#{post.user.id}"  %>
          <% else %>
            <%= link_to image_tag("/assets/default.jpg"),"/users/#{post.user.id}" %>
          <% end %>
          <%= link_to(post.user.name,"/users/#{post.user.id}") %>
        </div>
        <div class="post-right">
          <%= link_to image_tag(post.img.url),"/posts/#{post.id}" %>
          <br>
          <div class="post-content ellipsis">
            <%= post.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
