<!DOCTYPE html>
<html>
  <head>
    <title>ネコバリー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("ネコバリー", "/") %>
      </div>
      <ul class="header-menus">
        <li><%= link_to("ネコバリーとは？", "/about") %></li>
        <li><%= link_to("リカバリーする","/posts/index") %></li>
        <li><%= link_to("デリバリーする","/posts/new") %></li>
        <li><%= link_to("飼い主一覧", "/users/index") %></li>
        <li><%= link_to("飼い主になる", "/signup") %></li>
      </ul>
    </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
