<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ネコバリー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %> <!--, 'data-turbolinks-track': 'reload'-->
    <%= javascript_pack_tag 'application' %><!--#, 'data-turbolinks-track': 'reload'-->
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <%= favicon_link_tag('/assets/favicon.ico') %>
  </head>
  <div id="loader-bg">
    <div id="loader">
      <i class="fas fa-spinner fa-spin fa-5x fa-fw"></i>
      <p>Now Loading...</p>
    </div>
  </div>
  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("ネコバリー", "/posts/index") %>
        <% else %>
          <%= link_to("ネコバリー", "/") %>
        <% end %>
      </div>
      <div class='toggle'>
          <span class="fas fa-bars menu-icon"></span>
      </div>
      <div class="menu">
        <ul>
        <% if @current_user %>
          <% if @current_user.image_name? %>
            <li class="menu-icon"><%= link_to image_tag(@current_user.image_name.url),"/users/#{@current_user.id}" %></li>
          <% else %>
            <li class="menu-icon"><%= link_to image_tag("/assets/default.jpg"),"/users/#{@current_user.id}" %></li>
          <% end %>
          <li><%= link_to("リカバリー","/posts/index") %></li>
          <li><%= link_to("デリバリー","/posts/new") %></li>
          <li><%= link_to("飼い主一覧", "/users/index") %></li>
          <li><%= link_to("ログアウト","/logout",{method: :post}) %></li>
        <% else %>
          <li><%= link_to("ネコバリーとは？", "/about") %></li>
          <li><%= link_to("リカバリー","/posts/index") %></li>
          <li><%= link_to("新規登録", "/signup") %></li>
          <li><%= link_to("ログイン", "/login") %></li>
        <% end %>
        </ul>
      </div>

      <ul class="header-menus">
        <% if @current_user %>
        <% if @current_user.image_name? %>
          <li><%= link_to image_tag(@current_user.image_name.url),"/users/#{@current_user.id}" %></li>
        <% else %>
          <li><%= link_to image_tag("/assets/default.jpg"),"/users/#{@current_user.id}" %></li>
        <% end %>
          <li><%= link_to("リカバリー","/posts/index") %></li>
          <li><%= link_to("デリバリー","/posts/new") %></li>
          <li><%= link_to("飼い主一覧", "/users/index") %></li>
          <li><%= link_to("ログアウト","/logout",{method: :post}) %></li>
        <% else %>
          <li><%= link_to("ネコバリーとは？", "/about") %></li>
          <li><%= link_to("リカバリー","/posts/index") %></li>
          <li><%= link_to("新規登録", "/signup") %></li>
          <li><%= link_to("ログイン", "/login") %></li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
